absl-py
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
asteroid-filterbanks
astunparse
async-timeout
attrs
audioread
awscli
beautifulsoup4
blinker
boto3
botocore
certifi
cffi
charset-normalizer
click
colorama
colorlog
contourpy
cryptography
cycler
decorator
deepface
docopt
docutils
einops
et_xmlfile
exceptiongroup
fastapi
ffmpeg-python
filelock
fire
Flask
flask-cors
flatbuffers
fonttools
frozenlist
fsspec
future
gast
gdown
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
hf-xet
httpcore
httpx
huggingface_hub
HyperPyYAML
idna
itsdangerous
jax
jaxlib
Jinja2
jmespath
joblib
julius
keras
kiwisolver
lazy_loader
libclang
librosa
lightning
lightning-utilities
llvmlite
lz4
Mako
Markdown
MarkupSafe
matplotlib
mediapipe
ml-dtypes
more-itertools
mpmath
msgpack
mtcnn
multidict
networkx
numba
numpy
oauthlib
omegaconf
opencv-contrib-python
opencv-python
openpyxl
opt_einsum
optuna
packaging
pandas
pillow
platformdirs
pooch
primePy
propcache
protobuf
psutil
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydub
Pygments
pyodbc
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
pytorch-lightning
pytorch-metric-learning
pytz
PyYAML
regex
requests
requests-oauthlib
retina-face
rich
rsa
s3transfer
safetensors
scikit-learn
scipy
semver
sentence-transformers
sentencepiece
shellingham
six
sortedcontainers
sounddevice
soundfile
soupsieve
soxr
speechbrain
SQLAlchemy
starlette
sympy
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvicorn
voluptuous
websocket-client
Werkzeug
wrapt
yarl